body { 
    background: url(dark_embroidery.png); 
}
p::selection {
  background: indianred;
  color: white;
}

p::-moz-selection {
  background: indianred;
  color: white;
}
h1 {
	color: #e6005c;
	font-size: 75px;
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#subtitle {
	font-size: 55px;
	color: #e6005c;
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
h2 {
	color: #00e6e6;
	font-size: 45px;
}
h3 {
	color: #e6005c;
}
h4 {
	color: #00e600;
}
p {
	color: white;
}
ul {
	color: white;
}
a {
	color: #00e6e6;
}
/*dark pink: #e6005c
green: #00e600;
teal: #00e6e6 ;
*/
.hidden {
	visibility: hidden;
	display: none;
}

.visible {
	visibility: visible;
	display: block;
}
#home {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#hope {
	color: #00e6e6;
}
#info1{
	width:70%;
	margin-left: 15%;
}
#info2{
	width:70%;
	margin-left: 15%;
}
#WOC {
	width: 70%;
	margin-left: 15%;
}
#science {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#science1 {
	width: 70%;
	margin-left: 15%;
}
#bargraph{
	width: 70%;
	margin-left: 15%;
}
#tech {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#tech1 {
	width:80%;
	margin-left: 10%;
}
#techinfograph {
	width:80%;
	margin-left: 10%;
}
#eng {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#eng1 {
	width: 70%;
	margin-left: 15%;
}
#math {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#math1 {
	width: 70%;
	margin-left: 15%;
}
#now_what {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#edu {
	width: 70%;
	margin-left: 15%;
}
#infograph {
	width: 70%;
	margin-left: 15%;
}
#misc {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#johnnytest{
	width: 70%;
	margin-left: 15%;
}
#video{
	width: 70%;
	margin-left: 15%;
}
#gif{
	width: 70%;
	margin-left: 15%;
}
#wecandoit{
	width: 70%;
	margin-left: 15%;
}
#omg {
	width: 70%;
	margin-left: 15%;
}
.menu {
	list-style: none;
	float: right;
	font-family: "Lucida Sans Unicode";
}

.menu li {
	display: inline;
	border: none;
	margin: 10px;
}

.menu a {
	color: #00e6e6;
}