body {
	background-color: #1e1e15;
}
h1 {
	color: #e6005c;
	font-size: 75px;
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
h2 {
	color: #00e6e6;
	font-size: 45px;
}
h3 {
	color: #e6005c;
}
h4 {
	color: #00e600;
}
p {
	color: white;
}
ul {
	color: white;
}
/*dark pink: #e6005c
green: #00e600;
teal: #00e6e6 ;
*/
.hidden {
	visibility: hidden;
	display: none;
}

.visible {
	visibility: visible;
	display: block;
}
#home {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#info1{
	width:50;
	length: 110;
}
#info2{
	width:50;
	length:110;
}
#science {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#tech {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#eng {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#math {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}
#now_what {
	font-family: "Lucida Sans Unicode", "Ludicda Grande", sans-serif;
}

.menu {
	list-style: none;
	float: right;
	font-family: "Lucida Sans Unicode";
}

.menu li {
	display: inline;
	border: none;
	margin: 10px;
}

.menu a {
	color: #00e6e6;
}